<input type="checkbox" (click)="onSelect($event)">
<div class="card"
      [class.selected]="drink.selected"

      [class.featured]="featured"
      role="button"
      [routerLink]="'/drink/' + drink.idDrink">
    <img [src]="drink.strDrinkThumb" class="card-img-top"
      >
    <div class="card-body">
      <h5 class="card-title">{{ drink.strDrink}}</h5>
      
      <div  class="btn btn-primary">Dettaglio</div>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ drink.strCategory }}</small>
    </div>
  </div>