<main class="form-signin w-100 m-auto mt-3">
    <form class="needs-validation" [class.was-validated]="showErrors" #loginForm="ngForm">
        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="Email"
                [(ngModel)]="jsonIn.username" required>
            <label for="emailInput">Email</label>
        </div>
        <div class="form-floating mt-2">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input [type]="showPassword?'text':'password'" 
                        class="form-control mb-0" id="passwordInput" email autofocus name="passwordInput"
                        placeholder="your password..." [(ngModel)]="jsonIn.password" required>
                    <label for="passwordInput">Password</label>
                </div>
                <span class="input-group-text" role="button" (click)="showPassword = !showPassword">
                    👁
                </span>
            </div>
        </div>


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="rememberMe" [(ngModel)]="jsonIn.rememberMe"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="button" (click)="signIn()">
            Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
</main>