<router-outlet></router-outlet>

<!-- <form class="container">
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Carrello</a>
        </div>
      </nav>

    <div class="card" *ngIf="step === 0 ">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let prodotto of carrello.prodotti">
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" 
                        (click)="setquantita(prodotto,prodotto.quantita - 1)">
                        -
                </button>
                <input type="number"  class="form-control"
                        min="1" max="99" 
                        
                        [value]="prodotto.quantita">
                <button class="btn btn-outline-secondary" type="button" 
                        (click)="setquantita(prodotto,prodotto.quantita + 1)">
                        +
                </button>
              </div>
          </li>
        </ul>
        <div class="card-footer text-muted">
            <div class="btn btn-primary float-end"
                (click)="setStep(1)">
                >
            </div>
        </div>
    </div>
    
    <div class="card" [class.d-none]="step !== 1">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" name="nome" class="form-control"
                    [(ngModel)]="carrello.nome" required>
            </li>
            <li class="list-group-item">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email"
                    [(ngModel)]="carrello.email">
            </li>
        </ul>
        <div class="card-footer text-muted">
            <div (click)="setStep(0)" class="btn btn-primary float-start">&lt;</div>
            <div (click)="setStep(2)" class="btn btn-primary float-end">></div>

        </div>

    </div>
    <div class="card" *ngIf="step === 2 ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for="exampleFormControlInput1" class="form-label">Via</label>
                <input type="email" class="form-control">
            </li>
            <li class="list-group-item">
                <label for="exampleFormControlInput1" class="form-label">Città</label>
                <input type="email" class="form-control">
            </li>
        </ul>
        <div class="card-footer text-muted">
            <div (click)="setStep(1)" class="btn btn-primary float-start"><</div>
            <div (click)="ordina()" class="btn btn-primary float-end">END</div>

        </div>
    </div>
</form> -->