<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">The cocktail DB</a>
  </div>
</nav>

<h1>Top Drinks</h1>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 my-2"
      *ngFor="let drink of drinks"
      role="button"
      [routerLink]="'/drink/' + drink.idDrink">
    <div class="card">
      <img [src]="drink.strDrinkThumb" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ drink.strDrink}}</h5>
        
        <div  class="btn btn-primary">Dettaglio</div>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ drink.strCategory }}</small>
      </div>
    </div>
  </div>
</div>