<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">The cocktail DB</a>
    <button class="btn btn-outline-info" routerLink="/search">
      Search
    </button>

  </div>
</nav>
<nav class="mt-3">
  <ul class="pagination pagination-sm">
    <li class="page-item" role="button"
      [class.active]="letter === firstLetter"
      *ngFor="let letter of letters">
      <a class="page-link" (click)="changeFirstLetter(letter)">
        {{ letter }}
      </a>
    </li>
  </ul>
</nav>

<h1>Top Drinks</h1>
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-3 my-2"
      *ngFor="let drink of drinks"
      role="button"
      [routerLink]="'/drink/' + drink.idDrink">
    <div class="card">
      <img [src]="drink.strDrinkThumb" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ drink.strDrink}}</h5>
        
        <div  class="btn btn-primary">Dettaglio</div>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ drink.strCategory }}</small>
      </div>
    </div>
  </div>
</div>