<a class="btn btn-primary m-3" routerLink="/drinks">Back to drinks list</a>
<div class="card mb-3" *ngIf="drink">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="drink.strDrinkThumb" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-header">{{drink.strDrink}}</h2>
        <p class="card-text text-muted mt-3">{{drink.strInstructions}}</p>
        <h3 class="text-center mt-2">Ingredients</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let ingredient of ingredientsList">
            <a class="link-primary"
              [routerLink]="['/ingredient', replaceSpaceWithUnderscore(ingredient.name)]"
              >{{ingredient.name}}
            </a>
            : {{ingredient.measure}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>